# Idea
.idea/
*~
.DS_Store
all.md
releases/OCPI*.pdf
/OCPI.iml
releases/*/.bookmarks.txt
releases/*/.references.txt
releases/*/examples/*
releases/*/images/*
releases/*/plantuml/*
releases/*/*.adoc
releases/*/*.asciidoc
releases/*/*.pl
releases/*/*.svg
ocpi_merged.adoc
